# MongoDB 101

<img src="https://cdn.meme.am/images/11599433.jpg" alt="Title" style="width:350px"/>

## Welcome to MongoDB 101! Let's take a look at what we need to do today.
#### Step 1
* Log into https://mlab.com/ and create an account
* Create database within your account
* Create two users. One with read-only permissions. One without read-only permissions
* Follow the instructions below when you are ready

In [22]:
from pymongo import MongoClient

#This is the client. Replace my (username) and (password) with your non-readonly username and password
# -- Username is shetty, password is shetty
client = MongoClient("mongodb://shetty:shetty@ds031617.mlab.com:31617/shetty_test")
#We get the database here. Don't forget to change the db name to your database name!
db = client.shetty_test

In [5]:
# test = db.test
# print test

# test.insert_one({'name' : 'Shetty', 'age' :33,'color': 'black' })

# test.find_one()

Collection(Database(MongoClient(host=['ds031617.mlab.com:31617'], document_class=dict, tz_aware=False, connect=True), u'shetty_test'), u'test')

{u'_id': ObjectId('580f9fa458cfdddeb0615a1b'),
 u'age': 33,
 u'color': u'black',
 u'name': u'Shetty'}

In [4]:

# test.insert_one({'name' : 'Shreyas', 'age' :29,'color': 'white' })
# test.remove({'name' : 'Shreyas'})

In [23]:
db.test.find_one()

{u'_id': ObjectId('580f9fa458cfdddeb0615a1b'),
 u'age': 33,
 u'color': u'black',
 u'name': u'Shetty'}

## Navigate to wikipedia and pull down a table of your choice. Here is a sample of what I did to pull down the Harrison Ford movies table to help you out.

In [5]:
import urllib2
from bs4 import BeautifulSoup
import json
import pandas as pd

# soup = BeautifulSoup(urllib2.urlopen('https://en.wikipedia.org/wiki/Harrison_Ford_filmography').read())
# tables = soup.find_all('table', class_="wikitable")
# listy = []
# for idx, table in enumerate(tables):
#     if idx == 0:
#         for idx2, row in enumerate(table.find_all('tr')):
#             datay = row.find_all('td')
#             if len(datay) > 3:
#                 listy += [{'Year':datay[0].text,'':datay[1].text,'2':datay[2].text}]                
# ford_movies = pd.DataFrame(listy)
# print ford_movies.head()

In [28]:
soup = BeautifulSoup(urllib2.urlopen('https://en.wikipedia.org/wiki/List_of_Seattle_Seahawks_starting_quarterbacks').read())

tables = soup.find_all('table', class_="wikitable")
listy = []
for idx, table in enumerate(tables):
    if idx == 0:
        for idx2, row in enumerate(table.find_all('tr')):
            datay = row.find_all('td')
            if len(datay) == 3:
                listy += [{'Year':datay[0].text,'Quarterbacks':datay[1].text}]                


# qbdf = pd.DataFrame(listy)

qbdf.head()

                     Quarterbacks  Year
0                   Jim Zorn (14)  1976
1  Jim Zorn (10) / Steve Myer (4)  1977
2                   Jim Zorn (16)  1978
3                   Jim Zorn (16)  1979
4                   Jim Zorn (16)  1980

## Now it's time to make our new mongodb document! Let's insert our wiki table's values into it.

In [9]:
#Creating a new table with the name table_name here
quarterbacks = db.quarterbacks

#This removes everything from the table. Works on the same principle as find
#table_name.remove({})

#To insert, just pass in the values one at a time

Collection(Database(MongoClient(host=['ds031617.mlab.com:31617'], document_class=dict, tz_aware=False, connect=True), u'shetty_test'), u'quarterbacks')

In [10]:
quarterbacks.insert_one({'Quarterbacks': 'Shetty', 'Year' : '2020'})

In [11]:
# for x in listy:
#     quarterbacks.insert_one(x)

## Awesome! Now find the read-only user in your mongolab account. You are going to be passing this to your partner in the class. Don't be shy. Everyone has to do it.

In [6]:
# Pass your string to another student. 
# Don't forget to change the username and password to your other user's username and password!
# Here is a reminder of what that string looks like
# "mongodb://(username):(password)@ds063946.mlab.com:63946/(database_name)"
# client = MongoClient("mongodb://guest:guest@ds031617.mlab.com:31617/shetty_test")

In [32]:
# get all the collections/tables from the databases
def printTables(db):
    collection = db.collection_names(include_system_collections=False)
    for collect in collection:
        print collect
printTables(db)

quarterbacks
test

## Open the database you received from your partner. What is the data telling you? What kind of job roles would you imagine dealing with this data?

In [31]:
client = MongoClient("mongodb://guest:123abc@ds053080.mlab.com:53080/fei_sandbox")

In [34]:
dbf = client.fei_sandbox

In [35]:
def printTables(dbf):
    collection = dbf.collection_names(include_system_collections=False)
    for collect in collection:
        print collect
printTables(dbf)

TopCompanies

In [39]:
TopCompanies = dbf.TopCompanies

In [50]:
for a in TopCompanies.find({})[:1]:
    print a.keys()

[u'rankByRevenue', u'currentFiscalYear', u'revenueInBillions (last fiscal year)', u'Country', u'industry', u'marketCap (USD Billions May 2013)', u'headquarters', u'hqState', u'hqCity', u'_id', u'company', u'employees']

In [52]:
df = pd.DataFrame(a for a in TopCompanies.find({}))
df.head()

,Country,_id,company,currentFiscalYear,employees,headquarters,hqCity,hqState,industry,marketCap (USD Billions May 2013),rankByRevenue,revenueInBillions (last fiscal year)
0,USA,58110dd3e714bf2e40483614,TripAdvisor,2015,2793,"Needham, Massachusetts,USA",Needham,Massachusetts,Travel,8.55,20,1.5
1,India,58110dd3e714bf2e40483615,flipkart,2015,35000,"Bangalore, Karnataka, India",Bangalore,Karnataka,Shopping,9.39,21,1.5
2,UK,58110dd3e714bf2e40483616,ASOS.com,2014,7500,"London, UK",London,NaN,E-Commerce,4.80,22,1.4
3,Russia,58110dd3e714bf2e40483617,Yandex,2014,5514,"Moscow, Russia",Moscow,NaN,Search,6.15,23,0.9
4,USA,58110dd1e714bf2e40483601,Amazon,2015,268900,"Seattle, WA, USA",Seattle,WA,E-commerce,329.70,1,107.0

In [53]:
df.industry.value_counts()

E-commerce         6
Travel             4
Social             4
Search             3
Web portal         1
Search Engine      1
Shopping           1
Cloud computing    1
E-Commerce         1
Online Services    1
Name: industry, dtype: int64

{u'_id': u'E-commerce', u'num_company': 6}
{u'_id': u'Social', u'num_company': 4}
{u'_id': u'Travel', u'num_company': 4}
{u'_id': u'Search', u'num_company': 3}
{u'_id': u'Online Services', u'num_company': 1}
{u'_id': u'Search Engine', u'num_company': 1}
{u'_id': u'Cloud computing', u'num_company': 1}
{u'_id': u'E-Commerce', u'num_company': 1}
{u'_id': u'Web portal', u'num_company': 1}
{u'_id': u'Shopping', u'num_company': 1}

## Was the data cleaned before you got it? Is information missing that might keep you from figuring out what the data represents?

## Do some exploratory data analysis on the table. Did you find anything surprising?

## Come up with three solvable questions to ask your partner regarding his data. Each should test your knowledge of regular expressions and mongodb. Feel free to look up new ways to do things. Put the questions and the answers to those questions here.

In [27]:
# Show me the starting qb's for year 1989
for qb in quarterbacks.find({'Year' : '1989'}):
    print qb

{u'Quarterbacks': u'Dave Krieg (14) / Kelly Stouffer (2)', u'_id': ObjectId('580faf9a58cfdde19fe1697c'), u'Year': u'1989'}

In [ ]:
for qb in quarterbacks.find({'Year' : '1989'}):
    print qb

## Solve the questions your partner gave to you. This is for helping you to get more acquianted with these concepts, so try not to give away your answers.

In [58]:
# Get the industry with most number of companies
for a in list(TopCompanies.aggregate(
            [
                {
                    "$group":{"_id" : "$industry", "num_company":{'$sum' : 1} }
                },
                
                { 
                    '$sort': { 'num_company': -1, } 
                }
            ]
        )):
    print a

{u'_id': u'E-commerce', u'num_company': 6}
{u'_id': u'Social', u'num_company': 4}
{u'_id': u'Travel', u'num_company': 4}
{u'_id': u'Search', u'num_company': 3}
{u'_id': u'Online Services', u'num_company': 1}
{u'_id': u'Search Engine', u'num_company': 1}
{u'_id': u'Cloud computing', u'num_company': 1}
{u'_id': u'E-Commerce', u'num_company': 1}
{u'_id': u'Web portal', u'num_company': 1}
{u'_id': u'Shopping', u'num_company': 1}

## Try inserting a document into your partner's database. What happens? Why do you think that is?

In [59]:
TopCompanies.insert_one({'company' : 'test'})

OperationFailure: not authorized on fei_sandbox to execute command { insert: "TopCompanies", ordered: true, documents: [ { company: "test", _id: ObjectId('5812256458cfdde19fe16999') } ] }